*{
    margin-top: 20px;
    font-size: 20px;
    color: black;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
a {
    margin-right: 5px;
}
.intro {
    font-weight: italic;
    text-align: left;
}
.me {
    float: right;
}
header {
    background-color: lightcoral;
}
body {
    background-color: lightsalmon;
}
p {
    text-align: left;
    margin-left: 50px;
    font-family: sans-serif;
} 
.sidebar {
    text-align: right;
}
h3 {
    text-align: center;
}
li {
    margin-left: 25px;
    height: 15px;
}
em {
    color: lightblue;
}
    
    

