*{
    margin-top: 20px;
    font-size: 20px;
    color: yellow;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
a {
    margin-right: 5px;
    color: teal;
}
.intro {
    font-weight: italic;
    text-align: left;
}
.me {
    float: center;
}
header {
    background-color:black;
}
body {
    background-color: black;
}
p {
    text-align: left;
    margin-left: 50px;
    font-family: sans-serif;
} 
.sidebar {
    text-align: right;
}
h3 {
    text-align: center;
}
li {
    margin-left: 25px;
    height: 15px;
    color: teal;
}
em {
    color: lightblue;
}
.logo {
    float: right;
}    
#hob {
    color: darkred;
    font-style: italic;
}
.important {
    font-style: oblique;
}
.game {
    color: lightcoral;
}    

