*{
    margin-top: 20px;
    font-size: 20px;
    background-image: ;
}
img{
    padding: 50px;
}
h2 {
    text-align: center;
}
h1 {
    text-align: center;
}
a {
    background-color: white;
    margin-right: 50px;
}
.intro {
    font-weight: italic;
}
.first {
    text-align: center;
}

.me {
    float: right;
}
    
    

